*{
    margin: 0%;
}

body{
    background-image: url(img/fundo.jpg);
    background-size: cover;
    overflow: hidden;
}

.fundo{
    background-color: rgba(0, 0, 0, 0.582);
    text-align: center;
    padding-top: 200px;
    height: 100vh;
}

.subtitulo{
    color:white;
    font-size: 26px;
    font-weight: bold; /*negrito*/
    font-family: 'Trebuchet MS';
    letter-spacing: 2px; /*espaçamento das letras*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo{
    color:white;
    font-size: 80px;
    font-weight: bold; /*negrito*/
    font-family: 'Trebuchet MS';
    letter-spacing: 2px; /*espaçamento das letras*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.destaque{
    color: black;
    background-color: white;
    width: 400px;
    font-weight: bold; /*negrito*/
    font-family: 'Trebuchet MS';
    letter-spacing: 2px; /*espaçamento das letras*/
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Arial;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.botao{
    border: 1px solid white; /*tipos de borda: solid, dashed, dotted, double*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 20px;
    font-family: arial;
    text-decoration: none;
}